.typing {
    width: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: type 10s steps(20) infinite forwards;
}

.blink {
    opacity: 0;
    animation: blk 1s infinite forwards;
}

@keyframes type {
    0% {
        width: 0;
    }

    20% {
        width: 84%;
    }

    80% {
        width: 84%;
    }

    100% {
        width: 0;
    }
}

@keyframes blk {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}